table {
  border-collapse: separate;
  width: 100%;
 // background-color: #37323e;
  th, td {
    margin: 1%;
    text-align: center;
    border: solid 2px #274c77;
    border-radius: 7px;
  }
}
.tableHeader *{
  background-color: #6096ba;
  text-transform: uppercase;
}

.tdButton.enabled:hover{
  background-color: #40618a;
}

tr:nth-child(even) > * {
  background-color: #386fa4}
tr:nth-child(odd) > * {
  background-color: #2a76b3
}
