<table class="personTable">
  <tr class="tableHeader">
    <th>UUID</th>
    <th>name</th>
    <th>surname</th>
    <th>login</th>
    <th>age</th>
    <th>blocked</th>
    <th>update</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.pid}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.login}}</td>
    <td>{{user.age}}</td>
    <td (click)="setUser(user);switchBlock()" class="tdButton enabled">{{user.blocked}}</td>
    <td (click)="setUser(user)" class="tdButton enabled">Pick</td>
  </tr>
</table>
<button (click)="refreshUsers()" class="actionButton enabled first">Get Users</button>
<button routerLink="/add" routerLinkActive="active" class="actionButton enabled second">Add user</button>
<p></p>
<p></p>
<p></p>
<div class="updateUserForm">
UUID:    <input [disabled]="true" [(ngModel)]="user.pid" class="disabled">
  <br/>
Login:    <input [disabled]="true" [(ngModel)]="user.login" class="disabled">
  <br/>
Name:     <input [(ngModel)]="user.name" class="enabled">
  <br/>
Surname:  <input [(ngModel)]="user.surname" class="enabled">
  <br/>
Age:      <input [(ngModel)]="user.age" class="enabled">
</div>

<button (click)="updateUser()" class="actionButton enabled update">Update user</button>
