<table>
  <tr>
    <th>UUID</th>
    <th>name</th>
    <th>surname</th>
    <th>login</th>
    <th>age</th>
    <th>blocked</th>
    <th>update</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.pid}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.login}}</td>
    <td>{{user.age}}</td>
    <td>{{user.blocked}}</td>
    <td><button (click)="setUser(user)"></button> </td>
  </tr>
</table>
<button (click)="refreshUsers()">Get Users</button>
<button routerLink="/add" routerLinkActive="active">Add user</button>
<p></p>
<p></p>
<p></p>
UUID:    <input [disabled]="true" [(ngModel)]="user.pid"><p>
Login:    <input [disabled]="true" [(ngModel)]="user.login"><p>
Name:     <input [(ngModel)]="user.name"><p>
Surname:  <input [(ngModel)]="user.surname"><p>
Age:      <input [(ngModel)]="user.age"><p>
<button (click)="updateUser()">Update user</button>
