<div class="newPersonForm">
  Login: <input [(ngModel)]="userLogin" class="enabled"><br/>
  Password: <input type="password" [(ngModel)]="userPassword" class="enabled"><br/>
  Name: <input [(ngModel)]="userName" class="enabled"><br/>
  Surname: <input [(ngModel)]="userSurname" class="enabled"><br/>
  Age: <input [(ngModel)]="userAge" class="enabled">
</div>
<button (click)="addUser()" class="actionButton enabled second">Add user</button>
<button routerLink="/" routerLinkActive="active" class="actionButton enabled first">Go back</button>
